{% extends 'base.html.twig' %}
    
{% block body %}    
    <h1>All activities added to the Bucket List</h1>
    <section class="wish-list">
        {% for wish in wishes %}
        <article>
            <div class="wish-articles">
                <h2><a href="{{ path('list_details', { 'id': wish.id }) }}">{{ wish.title }}</a></h2>
                <h3>Author: {{ wish.author }}</h3>
                <h6>Date published: {{ wish.dateCreated | date('d-m-Y') }}</h6>
            </div>
        </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | All wishes    
{% endblock %}