{% extends 'base.html.twig' %}
    
{% block body %} 
    <div class="wishes-body-top">
        <div>
            <h1>All activities added to the Bucket List</h1>
        </div>
        <div>
            <a href="{{ path('wish_create') }}">
                <button class="create-btn">Add a new wish</button>
            </a>
        </div>
    </div>
    <section class="wish-list">
        {% for wish in wishes %}
        <article class="article-container">
            <a href="{{ path('wish_details', { 'id': wish.id }) }}">
                <div class="wish-articles">
                    <h2>{{ wish.title }}</h2>
                    <h3>Author: {{ wish.author }}</h3>
                    <h6>Date published: {{ wish.dateCreated | date('d-m-Y') }}</h6>
                </div>
            </a>
        </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | All wishes    
{% endblock %}